html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
        
body {
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between; 
}

header {
    background-color: #2f3e66;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 220px;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url('https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px;
}

#donate-form input[type="text"] {
    padding: 0px;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
    color: #595d64;
    border: 1px solid #cfd4d8;
    display: block;
}

.name-div {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    line-height: 2em;
}

.submit button {
    padding: 7px;
}

.submit {
    justify-content: center;
    display:flex;
    padding-top: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color:  #2f3e66;
    color: white;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.sns {
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.sns p {
    margin: 6px;
}
.social-icon img{
    height: 35px;
    padding: 20px;
}

.follow-icon {
    display: flex;

}

.footer-aboutus{
    display: flex;
    align-items: center;
}

.footer-aboutus-container{
    display: flex;
    justify-content: center;
    height: 95px;
    width: 100vw;
    background-color: #29365a;
}

.link {
    list-style: none;
    line-height: 2em;
    display: inline;
    padding: 24px;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}