html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
        
body {
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between; 
}

header {
    background-color: #2f3e66;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 220px;
}

.form-section {
    display: flex;
    padding: 20%;
    background-image: url('https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.name-div {
    text-align: center;
}

.footer {
    display: flex;
    background-color:  #2f3e66;
    height: 100px;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}
