body {
    background-image: url("../images/log-in-background.jpeg");
    display: flex;
    flex-direction: column;
    background-position: -11% 13%;
    background-size: cover;
}


.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    box-sizing: border-box;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    padding: 40px 0 10px;
    text-align: center;
}
.logo img {
    height: 45px;
}
.user {
    width: 100px;
    text-align: center;
    align-items: center;
}

.loginBox h2{
    margin: 0;
    padding: 35px 0 20px;
    color: #f47e58;
    text-align: center;
}

.loginBox p {
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

.loginBox li {
    list-style: none;
    display: inline-block;
    padding: 12px;
}

.loginBox input {
    width: 100%;
}

.loginBox input[type="email"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: white;
    font-size: 16px
}

::placeholder {
    color: white;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    background:#f47e58;
    cursor: pointer;
    border-radius: 10px;
    margin: 30px 0 20px;
}

.loginBox input[type="submit"]:hover {
    background: #24335a;
}


.login-footer {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.login-footer a{
    color: white;
    text-decoration: none;
}

.close-button {
    height: 30px;
}
