html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
        
body {
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.photos img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    /* padding: 10px 10px 10px 10px; */
}

header {
    background-color: #2f3e66;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ion-android-menu {
    font-size: 50px;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 220px;
}

.login {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

.login-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login li {
    padding-bottom: 4px;
}

.login-content {
    position: absolute;
    top: 0;
    right: 0;
    background-color: navy;
    color:white;
}
.inactive {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.intro-words {
    display: flex;
    justify-content: center;
    padding: 0 10% 0 10%;
} 

.intro-words p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

.introduction img {
    max-width:100vw;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.photos img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 325px;
    height: 325px;
    padding: 10px 10px 10px 10px; 
}

#location-text, #search-text{
    height: 40px;
    width: 300px;
}

.search-button {
    padding: 1em 3em;
    border:2px solid #fffbdc;
    background-color:  #f47e58;
    color:  #24335a;
    border-radius: 4px;
}

.search-button:hover {
    padding: 1em 3em;
    border:2px solid #fffbdc;
    background-color: #24335a;
    color:  #f47e58;
    border-color: #f47e58;
    border-radius: 4px;
}

#simple-search {
    text-align: center;
}

.donate {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.donate-button {
    display: flex;
    /* appearance: none; */
    /* background:#f72359; */
    /* background: cadetblue; */
    /* background-color: #f37021; */
    /* border-color: #f37021; */
    border: 3px solid #fffbdc;
    background-color: #f47e58;
    color: #24335a;
    border-color: #f47e58;
    /* box-shadow: inset 0 -3px 0 0 #e45d0c; */
    padding: 1em 3em;
    border: none;
    /* color: white; */
    font-size: 1.2em;
    /* cursor: pointer; */
    outline: none;
    overflow: hidden;
    border-radius: 4px;
}

.donate-button:hover {
    border: 3px solid #fffbdc;
    background-color: #2f3e66;
    color: #f47e58;
    border-color: #f47e58;
}

/* .donate-button span {
    pointer-events: none;
} */

.footer {
    display: flex;
    /* border-top: darkgray; */
    background-color:  #2f3e66;
    /* border-color: darkgray; */
    height: 200px;
    width: 100%;
    padding: 100px 100px 100px 100px;
}