html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
        
body {
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header {
    background-color: #2f3e66;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: block;
    flex-grow: 1;   
}

.menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(194, 185, 185);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.dropdown-content.active {
    width:100%;
}
.dropdown-content a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    text-align: center;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.close-button {
    height: 30px;
    position: absolute;
    top: 18px;
    right: 25px;
}

.sidenav a:hover {
    color:grey;
}

.menu-icon {
    height: 30px;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 220px;
}

.login {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.login-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login li {
    padding-bottom: 4px;
    font-size: 21px;
}

.introduction {
    padding: 20%;
    background-image: url('https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.introduction h2, h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.search-div {
    margin: 10px;
}

.photoGallery {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
}

#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

#photos img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px; 
}

.leftarrow img {
    width: 15px;
}

.rightarrow img {
    width: 15px;
}

#location-text, #search-text{
    height: 40px;
    width: 300px;
}

.footer-link {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#search {
    margin-top: 30px;
}

.search-button {
    padding: 1em 3em;
    border:2px solid #fffbdc;
    background-color:  #f47e58;
    color:  #24335a;
    border-radius: 4px;
}

.search-button:hover {
    padding: 1em 3em;
    border:2px solid #fffbdc;
    background-color: #24335a;
    color:  #f47e58;
    border-color: #f47e58;
    border-radius: 4px;
}

#simple-search {
    text-align: center;
}

#donate {
    display: flex;
    justify-content: center;
    padding: 0 0 80px;
}

.donate-button {
    display: flex;
    border: 3px solid;
    background-color: #f47e58;
    padding: 17px 60px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 4px;
}

#donate a {
    color: #1b233a;
    font-weight: bold;
}

.donate-button:hover {
    background-color: #1b233a;
}

#donate a:hover {
    color:  #f47e58;
}

.location {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

#map {
    display:flex;
    height: 100%;
    width: 100%;
}

/* Styling for the map in the search results page */

.search-location {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#search-map {
    display:flex;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

/* Styling for the table for the search results page */

table {
    font-family: Arial;
    border: 0 solid rgba(5,5,5,0);
    border-radius: 15px;
    background-color: rgba(5,5,5,0);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

th {
    padding: 20px 20px;
    font-size: 20px;
    color: #f47e58;
}

td {
    padding: 8px 8px;
    font-size: 18px;
    font-weight: bold;
    color: #2f3e66;
}

.name-cell:hover {
    text-decoration: underline;
}

tr {
    background: whitesmoke;
}



.footer {
    display: flex;
    flex-direction: column;
    background-color:  #2f3e66;
    color: white;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.sns {
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.sns p {
    margin: 6px;
}
.social-icon img{
    height: 35px;
    padding: 20px;
}

.follow-icon {
    display: flex;

}

.footer-aboutus{
    display: flex;
    align-items: center;
}

.footer-aboutus-container{
    display: flex;
    justify-content: center;
    height: 95px;
    width: 100vw;
    background-color: #29365a;
}

.link {
    list-style: none;
    line-height: 2em;
    display: inline;
    padding: 24px;
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}


.sidebar {
    display: none;
    width: 30%;
    z-index: 0;
    position: absolute;
    background-color: rgb(233, 223, 223);
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    padding-bottom: 80%;
}

.sidebar :hover {
    text-decoration: none;
    color: #f47e58
}

.sidebar ul {
    list-style: none;
    padding:0;
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-weight:2;

}

.sidebar a {
    color: #2f3e66;
    text-decoration: none;
}

.sidebar li {
    padding: 10px;
}


.desktop {
    display: none;
}

.about-us {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.person {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 10px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.person-img {
    width: 50%;
    height: 50%;
}

.person p {
    width: 80%;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.social-links img {
    width: 30px;
    margin: 10px;
}




@media all and (max-width: 767px) and (min-width: 360px) {
    .sidebar {
        display:none;
    }
}

  @media all and (max-width: 1199px) and (min-width: 768px) {
    .sidebar {
        display:none;
    }
  }

  @media (min-width: 1200px) {
    .dropdown-content {
        display: none;
    }
    .sidebar{
        display: flex;
    }
    .content {
        height: 100%;
        width: 92%;
    }
    #container {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display:none;
    }
    .logo {
        width: 20%;

    }
    .login {
        width: 20%;
    }
    .middle {
        width: 60%;
    }
  }

